In [1]:
import pandas as pd
from google.cloud import bigquery
import pydata_google_auth

ModuleNotFoundError: No module named 'google'

In [15]:
credentials = pydata_google_auth.get_user_credentials(
    ['https://www.googleapis.com/auth/bigquery'],
)

In [16]:
client = bigquery.Client(project= "project-football-388908", credentials=credentials)

In [17]:
# Query Bigquery
project_id = "project-football-388908"
dataset = "Primier_league_data"
table = "PL_monvalue_netspend"
query = f"SELECT * FROM `{project_id}.{dataset}.{table}`"

In [18]:
tables = client.list_tables(f'{project_id}.{dataset}')
table_names = []
for table in tables:
    table_names.append(f'{table.table_id}')
table_names

['PL_2014-2015',
 'PL_2014-2015_clean',
 'PL_2014-2022_clean',
 'PL_2015-2016',
 'PL_2015-2016_clean',
 'PL_2016-2017',
 'PL_2016-2017_clean',
 'PL_2017-2018',
 'PL_2017-2018_clean',
 'PL_2018-2019',
 'PL_2018-2019_cleaned',
 'PL_2019-2020',
 'PL_2019-2020_cleaned',
 'PL_2020-2021',
 'PL_2020-2021_clean',
 'PL_2021-2022',
 'PL_2021-2022_clean',
 'PL_Monetary_values_for_join',
 'PL_all_seasons_with_MonVal',
 'PL_intermediate_data_table',
 'PL_intermediate_data_table2',
 'PL_intermediate_data_table3',
 'PL_intermediate_data_table4',
 'PL_monvalue_netspend',
 'PL_odds_data',
 'PL_season_results_2014_2022',
 'PL_season_results_2014_2022_with_key']

In [10]:
#tables = client.list_tables(f'{project_id}.{dataset}')
#for table, table_name in zip(tables, table_names):
#  query = f"SELECT * FROM `{f'{table.project}.{table.dataset_id}.{table.table_id}' }`"
#  vars()[table_name] = client.query(query).to_dataframe()

In [19]:
PL_monvalue_netspend = client.query(query).to_dataframe()

In [21]:
df = PL_monvalue_netspend
df

,Season,Year,Position,Team,Played,Wins,Draws,Losses,Goals_For,Goals_Against,Goal_Difference,Pts,PPG,HTS_Key,HomeMV,Net_spend,fee_in
0,2014-2015,2014,20,Queens Park Rangers,38,8,6,24,42,73,-31,30,0.78,Queens Park Rangers-2014-2015,112.25,17.498,43.538
1,2014-2015,2014,19,Burnley,38,7,12,19,28,53,-25,33,0.86,Burnley-2014-2015,52.55,12.620,12.620
2,2014-2015,2014,18,Hull,38,8,11,19,33,51,-18,35,0.92,Hull-2014-2015,117.10,29.517,48.217
3,2014-2015,2014,16,Sunderland,38,7,17,14,31,53,-22,38,1.00,Sunderland-2014-2015,91.00,15.270,22.520
4,2014-2015,2014,17,Aston Villa,38,10,8,20,31,57,-26,38,1.00,Aston Villa-2014-2015,114.25,12.135,13.450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2021-2022,2021,5,Arsenal,38,22,3,13,61,48,13,69,1.81,Arsenal-2021-2022,613.05,136.020,167.420
156,2021-2022,2021,4,Tottenham,38,22,5,11,69,40,29,71,1.86,Tottenham-2021-2022,689.35,61.780,95.900
157,2021-2022,2021,3,Chelsea,38,21,11,6,76,33,43,74,1.94,Chelsea-2021-2022,914.50,-1.950,118.000
158,2021-2022,2021,2,Liverpool,38,28,8,2,94,26,68,92,2.42,Liverpool-2021-2022,918.90,57.450,87.000
159,2021-2022,2021,1,Manchester City,38,29,6,3,99,26,73,93,2.44,Manchester City-2021-2022,1000.00,40.700,134.500

In [22]:
import numpy as np
import pandas as pd

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
#splitting train and test data
from sklearn.model_selection import train_test_split

df_train, df_test = train_test_split(df, test_size=0.2)
df_train

,Season,Year,Position,Team,Played,Wins,Draws,Losses,Goals_For,Goals_Against,Goal_Difference,Pts,PPG,HTS_Key,HomeMV,Net_spend,fee_in
66,2017-2018,2017,14,Watford,38,11,8,19,44,64,-20,41,1.07,Watford-2017-2018,196.00,54.660,73.400
123,2020-2021,2020,17,Burnley,38,10,9,19,33,55,-22,39,1.02,Burnley-2020-2021,132.30,-1.200,1.100
20,2015-2016,2015,20,Aston Villa,38,3,8,27,27,76,-49,17,0.44,Aston Villa-2015-2016,117.95,1.850,66.550
13,2014-2015,2014,7,Southampton,38,18,6,14,54,33,21,60,1.57,Southampton-2014-2015,210.25,-27.830,96.000
8,2014-2015,2014,11,Everton,38,12,11,15,48,50,-2,47,1.23,Everton-2014-2015,182.85,38.260,40.160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,2017-2018,2017,16,Huddersfield,38,9,10,19,28,58,-30,37,0.97,Huddersfield-2017-2018,106.05,50.295,56.750
41,2016-2017,2016,19,Middlesbrough,38,5,13,20,27,53,-26,28,0.73,Middlesbrough-2016-2017,128.80,34.450,47.950
62,2017-2018,2017,18,Swansea,38,8,9,21,28,56,-28,33,0.86,Swansea-2017-2018,165.49,-7.715,73.385
12,2014-2015,2014,8,Swansea,38,16,8,14,46,49,-3,56,1.47,Swansea-2014-2015,130.75,-20.370,41.530
21,2015-2016,2015,19,Norwich,38,9,7,22,39,67,-28,34,0.89,Norwich-2015-2016,116.90,29.010,50.500

In [25]:
df_train.iloc[:,-3:]

     HomeMV  Net_spend  fee_in
66   196.00     54.660  73.400
123  132.30     -1.200   1.100
20   117.95      1.850  66.550
13   210.25    -27.830  96.000
8    182.85     38.260  40.160
..      ...        ...     ...
64   106.05     50.295  56.750
41   128.80     34.450  47.950
62   165.49     -7.715  73.385
12   130.75    -20.370  41.530
21   116.90     29.010  50.500

[128 rows x 3 columns]

In [26]:
df_train[['HomeMV','Net_spend','fee_in']]

     HomeMV  Net_spend  fee_in
66   196.00     54.660  73.400
123  132.30     -1.200   1.100
20   117.95      1.850  66.550
13   210.25    -27.830  96.000
8    182.85     38.260  40.160
..      ...        ...     ...
64   106.05     50.295  56.750
41   128.80     34.450  47.950
62   165.49     -7.715  73.385
12   130.75    -20.370  41.530
21   116.90     29.010  50.500

[128 rows x 3 columns]

In [27]:
#making the x and y for both train and test data
X_train=df_train[['HomeMV','Net_spend','fee_in']]
Y_train=df_train["PPG"]

X_test=df_test[['HomeMV','Net_spend','fee_in']]
Y_test=df_test["PPG"]

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
reg = LinearRegression()

In [30]:
reg.fit(X_train, Y_train)

LinearRegression()

In [31]:
reg.intercept_

0.8617326806570319

In [32]:
reg.coef_

array([ 0.00137735, -0.00032454,  0.00022286])

In [33]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [34]:
pred_y_train = reg.predict(X_train)

In [35]:
pred_y_test = reg.predict(X_test)

In [37]:
mse = mean_squared_error(pred_y_train, Y_train)
mse

0.08200034335367407

In [38]:
mae = mean_absolute_error(pred_y_train, X_train)
mae

ValueError: y_true and y_pred have different number of output (1!=3)

In [39]:
score_train = reg.score(X_train, Y_train)
score_train

0.6436661535965578

In [40]:
reg.fit(X_test, Y_test)

LinearRegression()

In [41]:
# caluclating R-squared
score_train = reg.score(X_test, Y_test)
score_train

0.5948059310167851

In [42]:
reg.intercept_

0.8321807797048132

In [43]:
reg.coef_

array([ 0.00113212, -0.00048622,  0.00156076])

In [44]:
import statsmodels.api as sm

In [46]:
from scipy import stats

In [47]:
t_statistic, p_value = stats.ttest_ind(X_test, Y_test)

print("P-value:", p_value)

P-value: [3.10749561e-13 2.98879188e-08 2.10210615e-14]