In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from google.cloud import bigquery
import pydata_google_auth

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
credentials = pydata_google_auth.get_user_credentials(
    ['https://www.googleapis.com/auth/bigquery'],
)

In [3]:
client = bigquery.Client(project= "project-football-388908", credentials=credentials)

In [4]:
# Query Bigquery
project_id = "project-football-388908"
dataset = "Primier_league_data"
table = "PL_monvalue_netspend"
query = f"SELECT * FROM `{project_id}.{dataset}.{table}`"

In [5]:
tables = client.list_tables(f'{project_id}.{dataset}')
table_names = []
for table in tables:
    table_names.append(f'{table.table_id}')
table_names

['PL_2014-2015',
 'PL_2014-2015_clean',
 'PL_2014-2022_clean',
 'PL_2015-2016',
 'PL_2015-2016_clean',
 'PL_2016-2017',
 'PL_2016-2017_clean',
 'PL_2017-2018',
 'PL_2017-2018_clean',
 'PL_2018-2019',
 'PL_2018-2019_cleaned',
 'PL_2019-2020',
 'PL_2019-2020_cleaned',
 'PL_2020-2021',
 'PL_2020-2021_clean',
 'PL_2021-2022',
 'PL_2021-2022_clean',
 'PL_Monetary_values_for_join',
 'PL_all_seasons_with_MonVal',
 'PL_away_team_xg',
 'PL_home_team_xg',
 'PL_intermediate_data_table',
 'PL_intermediate_data_table2',
 'PL_intermediate_data_table3',
 'PL_intermediate_data_table4',
 'PL_monvalue_netspend',
 'PL_odds_data',
 'PL_odds_data2',
 'PL_season_results_2014_2022',
 'PL_season_results_2014_2022_with_key',
 'PL_xG']

In [6]:
import db_dtypes

In [7]:
from db_dtypes import core

In [8]:
PL_monvalue_netspend = client.query(query).to_dataframe()

In [84]:
df = PL_monvalue_netspend[['Pts','HomeMV','fee_in']]
df

     Pts   HomeMV   fee_in
0     30   112.25   43.538
1     33    52.55   12.620
2     35   117.10   48.217
3     38    91.00   22.520
4     38   114.25   13.450
..   ...      ...      ...
155   69   613.05  167.420
156   71   689.35   95.900
157   74   914.50  118.000
158   92   918.90   87.000
159   93  1000.00  134.500

[160 rows x 3 columns]

In [85]:
#splitting the data
df_train, df_test = train_test_split(df, test_size=0.2)
df_train

     Pts   HomeMV  fee_in
84    39   305.40   62.25
133   62   703.50  110.50
104   39   303.60  119.80
158   92   918.90   87.00
126   44   193.85   22.40
..   ...      ...     ...
45    41   228.43  101.20
150   51   318.00   75.00
98    97  1170.00  182.20
4     38   114.25   13.45
122   28   239.75   37.25

[128 rows x 3 columns]

In [86]:
#defining the x and y for both the train and test data
X_train=df_train[['HomeMV','fee_in']]
Y_train=df_train["Pts"]

X_test=df_test[['HomeMV', 'fee_in']]
Y_test=df_test["Pts"]

In [87]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [88]:
# normalizing the train data
X_train_scaled = scaler.fit_transform(X_train)

In [89]:
#normalizing the test data
X_test_scaled = scaler.transform(X_test)

In [121]:
#defining the regr
regr = RandomForestRegressor(max_depth=6, random_state=0)

In [122]:
regr.fit(X_train_scaled, Y_train)

RandomForestRegressor(max_depth=6, random_state=0)

In [123]:
Y_pred = regr.predict(X_train_scaled)

In [124]:
Y_pred

array([44.81945538, 66.04761291, 41.63232941, 84.54057504, 44.20326403,
       43.77604051, 93.93333333, 81.16555556, 56.23425359, 68.28343979,
       44.31728331, 75.67720332, 43.38247383, 89.75722222, 46.48081082,
       48.0796051 , 69.43776464, 39.95692175, 70.48460606, 46.29326444,
       46.90969003, 91.477     , 44.14526403, 59.58699057, 75.53365061,
       43.40157337, 63.68408948, 38.01090078, 43.27655625, 35.97050489,
       57.42969428, 39.3871304 , 38.81187496, 70.59156278, 40.30697907,
       64.66223138, 36.32255151, 28.00626906, 42.5410852 , 46.25573258,
       66.7562565 , 51.61617412, 66.30757633, 41.82918051, 58.74860301,
       43.63316395, 66.57916059, 43.4248377 , 49.18861732, 69.79270144,
       41.17409524, 37.82116122, 47.16567754, 73.36406697, 47.1237802 ,
       69.61132814, 51.30531174, 69.62063189, 39.37426977, 69.93299481,
       34.75629248, 41.37170714, 59.10451005, 42.90609017, 42.4948749 ,
       47.49294598, 51.01471776, 64.60123138, 77.46974474, 54.74961415,
       67.13006443, 40.16409874, 46.74422607, 47.41991077, 60.08057089,
       37.85093553, 44.41984047, 44.0524307 , 63.38256836, 75.10021775,
       61.55977592, 44.74797949, 70.40038241, 43.04568976, 42.64306369,
       44.17760754, 44.74797949, 43.95505198, 60.90995184, 36.19989523,
       59.60578555, 42.33738883, 54.68549226, 63.39868969, 72.26315819,
       43.70298663, 44.08035985, 52.42939055, 41.49566168, 65.15542691,
       29.4470039 , 32.51255441, 39.56168304, 47.48476794, 31.36357991,
       66.36636765, 59.79423755, 66.62199152, 40.61049318, 43.04680605,
       35.97814398, 33.00820914, 43.98926847, 44.42006119, 63.46880936,
       34.87591259, 39.23849205, 46.12189713, 46.44449547, 37.74445589,
       38.22041381, 38.49940181, 62.79215446, 48.44182416, 51.72128348,
       90.69555556, 40.29673458, 40.37852491])

In [125]:
#calculating the r squared for the train data
score_train = regr.score(X_train_scaled, Y_train)
score_train

0.8620643697649819

In [126]:
#calculating the r squared for the test data
score_train = regr.score(X_test_scaled, Y_test)
score_train

0.6164399483196357

In [127]:
# testing some outcomes
test_team = pd.DataFrame({"HomeMV":[689.35], "fee_in":[95.900]})

In [128]:
test_team = scaler.transform(test_team)

In [129]:
regr.predict(test_team)

array([70.59156278])

In [142]:
#next lines are predicting the amount of points for each club based on their transfer money spend and squad monetairy value
Liverpool = pd.DataFrame({"HomeMV":[879], "fee_in":[90.3]})

In [143]:
Liverpool = scaler.transform(Liverpool)

In [144]:
regr.predict(Liverpool)

array([72.46522172])

In [145]:
Man_City = pd.DataFrame({"HomeMV":[1005], "fee_in":[139.5]})

In [146]:
Man_City = scaler.transform(Man_City)

In [147]:
regr.predict(Man_City)

array([92.46055556])

In [148]:
Arsenal = pd.DataFrame({"HomeMV":[935], "fee_in":[132.06]})

In [149]:
Arsenal = scaler.transform(Arsenal)

In [150]:
regr.predict(Arsenal)

array([86.2871746])

In [151]:
Chelsea = pd.DataFrame({"HomeMV":[1002], "fee_in":[281.99]})

In [152]:
Chelsea = scaler.transform(Chelsea)

In [153]:
regr.predict(Chelsea)

array([89.20755556])

In [154]:
Man_Utd = pd.DataFrame({"HomeMV":[859], "fee_in":[240.33]})

In [155]:
Man_Utd = scaler.transform(Man_Utd)

In [156]:
regr.predict(Man_Utd)

array([72.27401862])

In [157]:
Everton = pd.DataFrame({"HomeMV":[353], "fee_in":[85.2]})

In [158]:
Everton = scaler.transform(Everton)

In [159]:
regr.predict(Everton)

array([59.72440459])

In [160]:
Southampton = pd.DataFrame({"HomeMV":[416], "fee_in":[73.4]})

In [161]:
Southampton = scaler.transform(Southampton)

In [162]:
regr.predict(Southampton)

array([64.20187214])

In [163]:
WestHam = pd.DataFrame({"HomeMV":[182], "fee_in":[73.4]})

In [164]:
WestHam = scaler.transform(WestHam)

In [165]:
regr.predict(WestHam)

array([41.85737057])

In [166]:
Leicester = pd.DataFrame({"HomeMV":[450], "fee_in":[17]})

In [167]:
Leicester = scaler.transform(Leicester)

In [168]:
regr.predict(Leicester)

array([51.76567677])

In [169]:
Bournemouth = pd.DataFrame({"HomeMV":[243], "fee_in":[27]})

In [170]:
Bournemouth = scaler.transform(Bournemouth)

In [171]:
regr.predict(Bournemouth)

array([41.8455762])

In [172]:
Aston_Villa = pd.DataFrame({"HomeMV":[466], "fee_in":[70]})

In [173]:
Aston_Villa = scaler.transform(Aston_Villa)

In [174]:
regr.predict(Aston_Villa)

array([58.50385807])

In [175]:
Brentford = pd.DataFrame({"HomeMV":[323], "fee_in":[50.50]})

In [176]:
Brentford = scaler.transform(Brentford)

In [177]:
regr.predict(Brentford)

array([58.47830569])

In [178]:
Brighton = pd.DataFrame({"HomeMV":[347.6], "fee_in":[47.8]})

In [179]:
Brighton = scaler.transform(Brighton)

In [180]:
regr.predict(Brighton)

array([57.7944284])

In [187]:
Crystal_Palace = pd.DataFrame({"HomeMV":[299.50], "fee_in":[34.6]})

In [188]:
Crystal_Palace = scaler.transform(Crystal_Palace)

In [189]:
regr.predict(Crystal_Palace)

array([44.26170353])

In [184]:
Fulham = pd.DataFrame({"HomeMV":[246.90], "fee_in":[61.40]})

In [185]:
Fulham = scaler.transform(Fulham)

In [186]:
regr.predict(Fulham)

array([43.59554903])

In [190]:
Leeds = pd.DataFrame({"HomeMV":[354.90], "fee_in":[110.14]})

In [191]:
Leeds = scaler.transform(Leeds)

In [192]:
regr.predict(Leeds)

array([58.66537285])

In [193]:
Newcastle = pd.DataFrame({"HomeMV":[501.10], "fee_in":[136]})

In [194]:
Newcastle = scaler.transform(Newcastle)

In [195]:
regr.predict(Newcastle)

array([61.90159395])

In [196]:
Nottingham = pd.DataFrame({"HomeMV":[315.85], "fee_in":[161.95]})

In [197]:
Nottingham = scaler.transform(Nottingham)

In [198]:
regr.predict(Nottingham)

array([48.0035447])

In [199]:
Spurs = pd.DataFrame({"HomeMV":[680.30], "fee_in":[169.90]})

In [200]:
Spurs = scaler.transform(Spurs)

In [201]:
regr.predict(Spurs)

array([71.2556414])

In [202]:
Wolves = pd.DataFrame({"HomeMV":[407.20], "fee_in":[136.60]})

In [203]:
Wolves = scaler.transform(Wolves)

In [204]:
regr.predict(Wolves)

array([62.11550318])